{% extends "base.html" %}

{% block content %}
    <div class="container col-lg-1 col-centered">

{% if user.id %}
<h1>Edit user</h1>
{% else %}
<h1>Add user</h1>
{% endif %}

<form action="{{ action }}" method="POST">
  {% csrf_token %}
  {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% for field in form %}
  <div id="{{ field.auto_id }}_container">
    {{ field.help_text }}
    <div>
      {{ field.label_tag }} {{ field }}
    </div>
    <div id="{{ field.auto_id }}_errors">
      {{ field.errors }}
    </div>
  </div>
  {% endfor %}

  <input id="save_user" type="submit" value="Save" />
</form>

{% if user.id %}

<a href="{% url "users-delete" pk=user.id %}">Delete</a>
{% endif %}

<a href="{% url "users-list" %}">back to list</a>
    </div>
{% endblock %}
